{% extends 'home.html' %}

{% block content %}

{% if request.user.is_authenticated %}
{% if request.user == object.bidder and object.status == 'Set' %}
<h1>Update IPO offer</h1>
{% if messages %}
{% for  in  %}
        <div>
            <p>{{ message }}</p>
        </div>
{% endfor %}
{% endif %}
<form method='POST'> {% csrf_token %}
    {{form.as_p}}
    <input type='submit' value='Save'>
</form>
{% else %}
<br>
<br>
<br>
<div align="center"><h2>You're not supposed to be here...</h2></div> 
{% endif %}
{% else %}
<br>
<br>
<br>
<div align="center"><h2>You're not supposed to be here...</h2></div> 
{% endif %}
    

    


{% endblock content %}