{% extends 'home.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<h1>Bid offer update</h1>
{% if messages %}
{% for message in messages %}
<div>
    <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}


{% if request.user == object.owner and object.status == 'Set' %}
<form method='POST'> {% csrf_token %}
        {{form.as_p}}
        <input type='submit' value='Save'>
    </form>
{% else %}
<br>
<br>
<br>
<div align="center"><h2>You're not supposed to be here...</h2></div>
{% endif %}
{% else %}
<br>
<br>
<br>
<div align="center"><h2>You're not supposed to be here...</h2></div>
{% endif %}
    

    


{% endblock content %}